<mat-card>
	<mat-card-header>
		<mat-card-title>
			Status
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
			<div class="strong pad_3l">
				Current Status & Expiration
			</div>
			<div class="pad_6l">STEM OPT (12/12/2019)</div>

			<div class="strong pad_t pad_3l">
					Next Step
				</div>
				<div class="pad_6l">H1B</div>

				<div class="strong pad_t pad_3l">
						Steps Involved
					</div>
					<div class="pad_6l">
						<!-- use nagini's component -->
					</div>
	</mat-card-content>			
</mat-card>