<mat-card>
	<mat-card-header>
		<mat-card-title>
			Travel Information
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<p class="content" >
			If you decide to travel after you have received your card, you must carry:
		</p>
	
		<ul>
			<li>A valid passport</li>
			<li>Visa</li>
			<li>I-20 (endorsed by your ISA within the last 6 months)</li>
			<li>EAD</li>
			<li>An employement verification letter from your employer</li>
		</ul>
	
		<p class="content">
			<span class="strong">Note:</span> Please note that these items do not guarantee re-entry.
		</p>
	</mat-card-content>	
</mat-card>

<mat-card>
	<mat-card-header>
		<mat-card-title>
				Travel Documents
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		
	</mat-card-content>
</mat-card>