<mat-vertical-stepper [linear]="true" >
  <mat-step>
    <ng-template matStepLabel>
      First interview assessment
      </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      2nd interview assessment
      </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      Pre-offer documentation
      </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      Offer Phase
      </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      Offer Accepted
      </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      Post-offer document gathering
      </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      Documents submitted for LCA Generation
      </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      LCA Posted publicly (10 Business Days Waiting period)
      </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      Petition Generation 
      </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      Petition Received (Signature gathering)
      </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      Petition Filed (2-3 Week waiting period)
      </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      Receipt number received (2-3 weeks for final approval)
      </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      Request for Evidence (If Applicable)
      </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      RFE Creation
      </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      RFE Filed
      </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      Final Determination
      </ng-template>
  </mat-step>
</mat-vertical-stepper>
