<mat-card>
	<mat-card-header>
		<mat-card-title>
			WGU Information
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<ol class="pad_t">
			<li class="strong pad_t pad_l">E-Verify Number:</li> 
			<div class="pad_3l pad_t">1234567897</div>

			<li class="strong pad_t pad_l">FEID:</li>
			<div class="pad_3l pad_t">5465751354dafe5</div>

			<li class="strong pad_t pad_l">Company Code:</li>
			<div class="pad_3l pad_t">Western Governors University</div>

			<li class="strong pad_t pad_l">Size:</li>
			<div class="pad_3l pad_t">10,000</div>
		</ol>
	</mat-card-content>			
</mat-card>