<mat-card>
	<mat-card-header>
		<mat-card-title>
			Contact 
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<p class="strong pad_l">
			Western Governors University
		</p>
		<div class="pad_3l">
			<div class="pad_t">John Doe</div>
			<div class="pad_t">john.doe@wgu.edu</div>
			<div class="pad_t">123-456-7890</div>
		</div>
	</mat-card-content>			
</mat-card>

<mat-card>
	<mat-card-content>
		<div class="strong pad_t">Note:</div>
		<div class="pad_t">
			If you have any questions regarding the process, please contact John Doe at <a href='mailto:john.doe@wgu.edu'>john.doe@wgu.edu</a> with 
			subject line as ‘IMC Communications'.
		</div>
	</mat-card-content>
</mat-card>